* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header div.top-header {
  padding: 15px 50px;
}

footer .footer div.footer-dx .colonna-footer li:first-of-type,
footer .footer div.footer-dx .colonna-footer a,
div.quarta-sezione,
div.seconda-sezione,
div.prima-sezione,
header div.top-header div.right-menu .list-menu a,
header div.top-header div.right-menu button,
header {
  color: #58402c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_col {
  max-width: 1170px;
  margin: 0 auto;
}

/*CLEAR*/

.row::after {
  clear: both;
  content: "";
  display: table;
}

/* COLONNE FRAMEWORK */

[class*=col-] {
  float: left;
}

/*versione desktop*/

@media all and (min-width: 992px) {
  .col-lg-1 {
    width: calc((100% / 12) * 1);
  }

  .col-lg-2 {
    width: calc((100% / 12) * 2);
  }

  .col-lg-3 {
    width: calc((100% / 12) * 3);
  }

  .col-lg-4 {
    width: calc((100% / 12) * 4);
  }

  .col-lg-5 {
    width: calc((100% / 12) * 5);
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: calc((100% / 12) * 7);
  }

  .col-lg-8 {
    width: calc((100% / 12) * 8);
  }

  .col-lg-9 {
    width: calc((100% / 12) * 9);
  }

  .col-lg-10 {
    width: calc((100% / 12) * 10);
  }

  .col-lg-11 {
    width: calc((100% / 12) * 11);
  }

  .col-lg-12 {
    width: 100%;
  }

  /* OFFSET */

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: calc((100% / 12) * 1);
  }

  .col-lg-offset-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .col-lg-offset-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .col-lg-offset-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .col-lg-offset-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .col-lg-offset-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .col-lg-offset-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .col-lg-offset-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .col-lg-offset-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

/*tablet version */

@media all and (min-width: 769px) and (max-width: 991px) {
  .col-md-1 {
    width: calc((100% / 12) * 1);
  }

  .col-md-2 {
    width: calc((100% / 12) * 2);
  }

  .col-md-3 {
    width: calc((100% / 12) * 3);
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-5 {
    width: calc((100% / 12) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc((100% / 12) * 7);
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-9 {
    width: calc((100% / 12) * 9);
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-11 {
    width: calc((100% / 12) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  /* OFFSET */

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: calc((100% / 12) * 1);
  }

  .col-md-offset-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .col-md-offset-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .col-md-offset-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .col-md-offset-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .col-md-offset-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .col-md-offset-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .col-md-offset-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .col-md-offset-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}

/*mobile version*/

@media all and (max-width: 768px) {
  .col-xs-1 {
    width: calc((100% / 12) * 1);
  }

  .col-xs-2 {
    width: calc((100% / 12) * 2);
  }

  .col-xs-3 {
    width: calc((100% / 12) * 3);
  }

  .col-xs-4 {
    width: calc((100% / 12) * 4);
  }

  .col-xs-5 {
    width: calc((100% / 12) * 5);
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: calc((100% / 12) * 7);
  }

  .col-xs-8 {
    width: calc((100% / 12) * 8);
  }

  .col-xs-9 {
    width: calc((100% / 12) * 9);
  }

  .col-xs-10 {
    width: calc((100% / 12) * 10);
  }

  .col-xs-11 {
    width: calc((100% / 12) * 11);
  }

  .col-xs-12 {
    width: 100%;
  }

  /* OFFSET */

  .col-xs-offset-0 {
    margin-left: 0;
  }

  .col-xs-offset-1 {
    margin-left: calc((100% / 12) * 1);
  }

  .col-xs-offset-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .col-xs-offset-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .col-xs-offset-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .col-xs-offset-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .col-xs-offset-6 {
    margin-left: 50%;
  }

  .col-xs-offset-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .col-xs-offset-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .col-xs-offset-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .col-xs-offset-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .col-xs-offset-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .col-xs-offset-12 {
    margin-left: 100%;
  }
}

header div.top-header {
  border-bottom: 1px solid #58402c;
  position: fixed;
  z-index: 100;
  background-color: white;
  top: 0;
}

header div.top-header div.logo img {
  float: left;
}

header div.top-header div.logo p {
  float: left;
  margin-left: 30px;
  font-size: 20px;
}

header div.top-header div.right-menu .dropdown {
  position: relative;
}

header div.top-header div.right-menu .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

header div.top-header div.right-menu button {
  font-size: 16px;
  background: none;
  border: none;
  box-shadow: none;
}

header div.top-header div.right-menu button:hover {
  background: none;
  color: blue;
}

header div.top-header div.right-menu .dropdown-menu:hover {
  background: white;
}

header div.top-header div.right-menu .dropdown-menu a:hover {
  background: white;
  color: blue;
}

header div.top-header div.right-menu .list-menu {
  list-style-type: none;
}

header div.top-header div.right-menu .list-menu li {
  display: inline-block;
  margin: 0 25px;
  font-size: 16px;
  margin-top: 5px;
}

header div.top-header div.right-menu .list-menu li:first-child {
  margin-left: 0;
}

header div.top-header div.right-menu .list-menu a {
  text-decoration: none;
}

header div.top-header div.right-menu .list-menu a:hover {
  color: blue;
}

header div.bottom-header {
  margin: 120px 0;
}

header div.bottom-header .bottom-header-sx h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 75px;
}

header div.bottom-header .bottom-header-sx h3 {
  font-weight: lighter;
  line-height: 40px;
}

header div.bottom-header .bottom-header-dx img {
  width: 100%;
}

@media (max-width: 600px) {
  .top-header {
    padding: 0;
  }

  .right-menu {
    display: none;
  }
}

div.prima-sezione {
  background-color: #ffe7d2;
  color: #58402c;
  text-align: center;
  padding: 80px 0;
}

div.prima-sezione h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #58402c;
}

div.prima-sezione div.container-triade {
  text-align: center;
  padding-top: 50px;
}

div.prima-sezione div.container-triade img {
  width: 50%;
}

div.prima-sezione div.container-triade p {
  margin: 0 50px;
  font-size: 18px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  div.prima-sezione div.container-triade p {
    margin: 50px 0;
  }
}

div.prima-sezione div.immagine-sotto-triade img {
  width: 50%;
  margin-top: 50px;
}

div.seconda-sezione {
  background-color: #ffe7d2;
  color: #58402c;
  text-align: center;
  padding: 80px 0;
}

div.seconda-sezione h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #58402c;
}

div.seconda-sezione div.container-triade {
  text-align: center;
  padding-top: 50px;
}

div.seconda-sezione div.container-triade img {
  width: 50%;
}

div.seconda-sezione div.container-triade p {
  margin: 0 50px;
  font-size: 18px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  div.seconda-sezione div.container-triade p {
    margin: 50px 0;
  }
}

div.seconda-sezione div.immagine-sotto-triade img {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 80px;
}

div.seconda-sezione div.container-triade .img-safe {
  width: 20%;
}

@media (max-width: 600px) {
  div.container-triade {
    padding: 0;
  }
}

div.terza-sezione {
  padding: 80px 0;
}

div.terza-sezione .img1 {
  padding-left: 0;
  margin-left: -80px;
}

div.terza-sezione .img1 img {
  width: 110%;
}

@media (max-width: 600px) {
  div.terza-sezione .img1 {
    padding-left: 0;
    margin: 0;
  }

  div.terza-sezione .img2 {
    margin-top: 50px;
  }
}

div.terza-sezione .img2 .img2-text {
  margin-bottom: 40px;
}

div.terza-sezione .img2 .img2-text h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #58402c;
}

div.terza-sezione .img2 .img2-text p {
  font-size: 22px;
  line-height: 33px;
  color: #58402c;
}

div.terza-sezione .img2 img {
  width: 57%;
}

@media (max-width: 600px) {
  div.terza-sezione .img2 img {
    width: 100%;
  }

  div.terza-sezione .img2 .img1 {
    margin-top: 50px;
  }
}

div.terza-sezione div.container-doppia {
  margin-top: 80px;
}

div.terza-sezione div.container-doppia .img3 .img3-text {
  margin-bottom: 40px;
}

div.terza-sezione div.container-doppia .img3 h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #58402c;
  font-size: 25px;
}

div.terza-sezione div.container-doppia .img3 p {
  font-size: 22px;
  line-height: 33px;
  color: #58402c;
}

div.terza-sezione div.container-doppia .img3 img {
  width: 130%;
}

@media (max-width: 600px) {
  div.terza-sezione div.container-doppia .img3 img {
    width: 100%;
  }
}

div.terza-sezione div.container-doppia .img4 {
  margin-right: -80px;
}

div.terza-sezione div.container-doppia .img4 img {
  margin-top: 50px;
  width: 110%;
}

@media (max-width: 600px) {
  div.terza-sezione {
    padding: 0;
  }
}

div.quarta-sezione {
  background-color: #ffe7d2;
  color: #58402c;
  text-align: center;
  padding: 80px 0;
}

div.quarta-sezione .quarta-sezione-titolo h1 {
  line-height: 61px;
  font-size: 40px;
  font-weight: bold;
}

div.quarta-sezione .text-area {
  background-color: white;
  padding: 30px 30px;
  color: black;
  border: 1px solid lightgray;
  border-radius: 15px;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer .footer {
  margin-top: 80px;
}

footer .footer div.footer-sx {
  display: flex;
  flex-direction: row;
}

footer .footer div.footer-sx img {
  width: 40%;
  margin-right: 20px;
}

footer .footer div.footer-dx .colonna-footer {
  width: 18%;
  float: left;
  margin-left: 2%;
  margin-right: 0;
}

footer .footer div.footer-dx .colonna-footer ul {
  list-style-type: none;
}

footer .footer div.footer-dx .colonna-footer a {
  font-size: 13px;
  line-height: 2.5;
}

footer .footer div.footer-dx .colonna-footer li:first-of-type {
  margin-bottom: 20px;
  font-size: 18px;
}

