div.prima-sezione {
  @extend %pink-color;
  text-align: center;
  padding: 80px 0;
  @extend %brown-color;

  div.container-triade {
    text-align: center;
    padding-top: 50px;

    img {
      width: 40%;
    }

    p {
      @include ptriade;
    }
  }

  div.immagine-sotto-triade {
    img {
      width: 60%;
      margin-top: 50px;
    }
  }
}
