//PRIMA SEZIONE

div.prima-sezione {
  @include pink-bg;
  @extend %brown-color;

  h3 {
    @include h3-style;
  }

  div.container-triade {
    text-align: center;
    padding-top: 50px;

    img {
      width: 50%;
    }

    p {
      @include ptriade;
    }

    @media (max-width: 600px) {

       p {
         margin: 50px 0;
       }
    }
  }

  div.immagine-sotto-triade {
    img {
      width: 50%;
      margin-top: 50px;
    }
  }
}
// SECONDA SEZIONE
div.seconda-sezione {
  @include pink-bg;
  @extend %brown-color;

  h3 {
    @include h3-style;
  }

  div.container-triade {
    text-align: center;
    padding-top: 50px;

    img {
      width: 50%;
    }

    p {
      @include ptriade;
    }

    @media (max-width: 600px) {

       p {
         margin: 50px 0;
       }
    }
  }

  div.immagine-sotto-triade {
    img {
      width: 50%;
      margin-top: 50px;
      margin-bottom: 80px;
    }
  }

  div.container-triade {
    .img-safe {
      width: 20%;
    }
  }
}

@media (max-width: 600px) {

  div.container-triade {
    padding: 0;
  }
}
// TERZA SEZIONE
div.terza-sezione {
  padding: 80px 0;

  .img1 {
    padding-left: 0;
    margin-left: -80px;

    img {
      width: 110%;
    }
  }
  @media (max-width: 600px) {

     .img1 {
       padding-left: 0;
       margin: 0;
     }

     .img2 {
       margin-top: 50px;
     }
  }

  .img2 {
    .img2-text {
      margin-bottom: 40px;

      h3 {
        @include h3-style;
      }

      p {
        font-size: 22px;
        line-height: 33px;
        color: $brown-color;
      }
    }

    img {
      width: 57%;
    }

    @media (max-width: 600px) {

       img {
         width: 100%;
       }

       .img1 {
         margin-top: 50px;
       }
    }
  }


div.container-doppia{
  margin-top: 80px;
  .img3 {
    .img3-text{
      margin-bottom: 40px;
    }
    h3 {
      @include h3-style;
      font-size: 25px;
    }

    p {
      font-size: 22px;
      line-height: 33px;
      color: $brown-color;
    }
    img {
      width: 130%;
    }

    @media (max-width: 600px) {

       img {
         width: 100%;
       }
    }
  }


    .img4 {
      margin-right: -80px;

      img {
        margin-top: 50px;
        width: 110%;
      }
  }
}
}

@media (max-width: 600px) {

  div.terza-sezione {
    padding: 0;
  }
}

// QUARTA SEZIONE

div.quarta-sezione {
  @include pink-bg;
  @extend %brown-color;

  .text-area {
    background-color: white;
    padding: 30px 30px;
    color: black;
    border: 1px solid lightgray;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 50px;
  }
}
