//PRIMA SEZIONE

div.prima-sezione {
  @include pink-bg;

  div.container-triade {
    text-align: center;
    padding-top: 50px;

    img {
      width: 50%;
    }

    p {
      @include ptriade;
    }
  }

  div.immagine-sotto-triade {
    img {
      width: 50%;
      margin-top: 50px;
    }
  }
}


// SECONDA SEZIONE

div.seconda-sezione {
  @include pink-bg;

  div.container-triade {
    text-align: center;
    padding-top: 50px;

    img {
      width: 50%;
    }

    p {
      @include ptriade;
    }
  }

  div.immagine-sotto-triade {
    img {
      width: 50%;
      margin-top: 50px;
    }
  }

  div.container-triade:nth-last-of-type(2) {

    .img-safe {
      width: 20%;
    }
  }
}
