* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// HEADER
$header-footer-padding: 15px 50px;

%header-footer-padding {
  padding:$header-footer-padding;
}

$brown-color: #58402c;

%brown-color {
  color: $brown-color;
}


//MAIN
$pink-main: #ffe7d2;

%pink-color {
  background-color: $pink-main;
}

@mixin ptriade {
  margin: 0 50px;
  font-size: 18px;
  margin-top: 20px;
}

@mixin pink-bg {
  background-color: $pink-main;
  color: $brown-color;
  text-align: center;
  padding: 80px 0;
}



@import "12col";
@import "header";
@import "main";
